<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Area | Me</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="https://kit.fontawesome.com/332eb8b43e.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="css/menu.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="notiflix-2.0.0.min.css" />
  <script src="notiflix-2.0.0.min.js"></script>
  <style>
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
  </style>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>
<body style="margin:0;">
  <div class="container animate-bottom" style="display:none;" id="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Area</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/widgets">Widget</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="outerContainer">
      <br><br>
      <% if (success != '') { %>
        <div class="alert alert-success" role="alert">
          <%= success %>
        </div>
      <% } %>
    </div>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Contents</th>
      <th scope="col">Output</th>
      <th scope="col">Send</th>
      <th scope="col">Save</th>
      <th scope="col">Delete</th>
      <th scope="col">Settings</th>
        <th scope="col"><a href="/addAction"><button type="button" class="btn btn-success" type="submit">ADD <i class="far fa-plus-square"></i></button></th></a>
    </tr>
  </thead>
  <tbody>
    <% var id = 0;
    for (var action of user.actions) {
    var widgets = action.split('0'); %>
    <form action="/save" method="POST">
      <input style="opacity: 0;" name="id" value="<%= id %>">
      <tr>
        <td>
          <select id="widget1" class="form-control" name="widgets">
            <% for (var widget of user.widgets) { %> 
              <% if (widget == widgets[0]) { %>
                <option selected="selected" value="<%= widget %>"><%= widget %></option>
              <% } else { %>
                <option value="<%= widget %>"><%= widget %></option>
              <% } %>
            <% } %>
          </select>
        </td>
        <td>
          <select class="form-control" name="widgets" id="reaction1">
            <% for (var widget of user.widgets) { %> 
              <% if (widget == widgets[1]) { %>
                <option id="2" selected="selected" value="<%= widget %>"><%= widget %></option>
              <% } else { %>
                <option id="2" value="<%= widget %>"><%= widget %></option>
              <% } %>
            <% } %>
          </select>
        </td>
          <td><span style="font-size: 20px; color: Orange;"><button  class="btn btn-primary" name="send" value="run">
          <i class="fas fa-rocket"></i></span>
        </button></td>
        <td><span style="font-size: 20px; color: Orange;"><button type="submit" class="btn btn-success" name="send" value="save">
          <i class="far fa-save"></i></span>
        </button></td>
        <td><span style="font-size: 20px; color: Orange;"><button type="submit" class="btn btn-danger" name="send" value="delete">
          <i class="fas fa-trash-alt">
        </button></td>
         <td><span style="font-size: 20px; color: Orange;"><button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%= action %>">
          <i class="fas fa-cog"></i></span>
        </button></td>
      </tr>
    </form>
    <div class="modal fade" id="<%= action %>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <form method="POST" action="/edit">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"><%= widgets[0] %> and <%= widgets[1] %>'s widgets</h4>
        </div>
        <div class="modal-body">
          <% id = 0;
          for (var widget of widgets) { %>
          <% if (widget == "emails") { %>
            <div class="form-group">
              <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">Sender's email address</label>
              <input type="email" class="form-control" id="sender_email" name="sender_email" aria-describedby="emailHelp" placeholder="Enter email" value="<%= user.infos[0].sender_email %>">
            </div>
            <div class="form-group">
              <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputPassword1">Application Password</label>
              <input type="password" class="form-control" id="appPassword" id="appPassword" placeholder="Application Password">
              <small id="emailHelp" class="form-text text-muted">Generate an application password throught your email dashboard.</small>
            </div>
             <div class="form-group">
              <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">Recipient's email address</label>
              <input type="email" class="form-control" id="to_email" name="to_email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
          <% } else if (widget == "discord") { %>
          <div class="form-group">
            <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">Discord recipent's name</label>
              <input type="text" class="form-control" id="to_discord" name="to_discord" placeholder="Discord name">
            </div>
           <% } else if (widget == "steam") { %>
           <div class="form-group">
            <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">Steam game name</label>
              <input type="text" class="form-control" id="steam_game" name="steam_game" placeholder="Steam game">
            </div>
           <% } else if (widget == "weather") { %>
            <div class="form-group">
              <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">City</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="City">
            </div>
           <% } else if (widget == "lyrics") { %>
            <div class="form-group">
              <input style="opacity: 0;" name="id" value="<%= id %>">
              <label for="exampleInputEmail1">Song</label>
              <input type="text" class="form-control" id="song" name="song" placeholder="Song">
              <label for="exampleInputEmail1">Artist</label>
              <input type="text" class="form-control" id="artist" name="artist" placeholder="Artist">
            </div>
           <% } %> 
          <% }%>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      </form>
    </div>
  </div>
    <% id++; } %>
  </tbody>
</table>
  </div>
</div>
  <script>
  document.getElementById("container").style.display = "block";
  </script>

</body>

</html>