<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title>Area | Me</title>
  <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/332eb8b43e.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/menu.css">
  <link rel="stylesheet" type="text/css" href="css/bootstrap">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style_widgets.css">
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">Area</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/me">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Widget<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trigger">Trigger</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="/sender">Sender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
      <div id="container">
        <div id="outerContainer">
          <br><br>
            <% if (success != '') { %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
            <% } %>
        </div>
        <section>
          <div class="list-blocks">
            <ul class="card-list">
              <% for (var widget of widgets) { var name; %>
                <li class="card filter-blue-box">
                  <div class="card-content">
                    <img class="card-icon" src="http://placehold.it/50x50" alt="" />
                    <p class="card-description"><%= widget.name %></p>
                    <% if (!user.widgets.includes(widget.id)) { %>
                      <a class="card-cta" href="/widgets?add=<%= widget.id %>">Add</a>
                    <% } else { %>
                      <a class="card-cta" href="/widgets?remove=<%= widget.id %>">Remove</a>
                      <% } %>
                    <p class="card-description"><%= widget.action.description %></p>
                  </div>
                </li>
                <% } %>
            </ul>
          </div>
        </section>
      </div>
  </div>
</body>

</html>